body {
    background: url("../vendor/img/wallpaper.jpg") no-repeat 0 55px fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}