{% extends 'mainapp/base.html' %}


{% block content %}
    <div class="text-center">
        <div class="h2 text-center head">
            Ваши заказы
        </div>
        <table class="table orders_list">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Создан</th>
                    <th>Обновлен</th>
                    <th>Статус</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for item in object_list %}
                {% if item.is_active %}
                    <tr>
                        <td class="td1 orders_list">{{ item.pk }}</td>
                        <td>{{ item.created|date:"Y-m-d H:i:s" }}</td>
                        <td>{{ item.updated|date:"Y-m-d H:i:s" }}</td>
                        <td>{{ item.get_status_display }}</td>
                        <td>
                            <a class="link-style btn btn-info" href="{% url 'orders:read' item.pk %}">
                                Посмотреть
                            </a>
                        </td>
                        <td>
                            {% if item.status == 'FM' %}
                                <a class="link-style btn btn-info" href="{% url 'orders:update' item.pk %}">
                                    Редактировать
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if item.status == 'FM' %}
                                <a class="link-style btn btn-info" href="{% url 'orders:delete' item.pk %}">
                                    Удалить
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
            <a class="link-style btn btn-info btn-round" href="{% url 'index' %}">
                На главную
            </a>
            <a class="link-style btn btn-info btn-round" href="{% url 'orders:create' %}">
                Новый
            </a>
    </div>
{% endblock %}